name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          config_timezone: Europe/Istanbul
          repositories_skipped: lgbt-flag
          template: terminal
          config_display: columns
          base: header, community, repositories, metadata
          base_indepth: yes
          repositories_affiliations: collaborator
          commits_authoring: lara, lara kayaalp, Lara, Lara Kayaalp, laralove, laralove143, lara-rium, me@lara.lv, laralove143@icloud.com, laralovesyou143@gmail.com
          # debug_flags: |
            # --cakeday
            # --halloween
            # --winter
          plugin_calendar: yes
          plugin_calendar_limit: 0
          plugin_activity: yes
          plugin_notable: yes
          plugin_notable_from: all
          plugin_notable_indepth: yes
          plugin_notable_types: commit, pull_request, issue
          plugin_code: yes
          plugin_code_days: 30
          plugin_music: yes
          plugin_music_playlist: https://embed.music.apple.com/tr/playlist/everythings-right-place/pl.u-EdAVvaGCDV85Wy2
          plugin_wakatime: yes
          plugin_wakatime_token: 62bd08ab-9399-4052-b059-4ef1562943fb
          plugin_wakatime_url: https://wakapi.lara.lv
          plugin_wakatime_days: 30
          plugin_wakatime_limit: 0
          plugin_languages: yes
          plugin_languages_sections: recently-used
          plugin_languages_details: lines
          plugin_languages_indepth: yes
          plugin_stargazers: yes
          plugin_stargazers_days: 0
          plugin_stargazers_charts_type: graph
          plugin_lines: yes
          plugin_lines_sections: base, history
          plugin_lines_repositories_limit: 16
          plugin_habits: yes
          plugin_habits_days: 30
          plugin_sponsors: yes
          plugin_sponsors_past: yes
          plugin_sponsors_title: Would you like to sponsor my work?

          
