name: readme
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push:
jobs:
  snake:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            github-contribution-grid-snake.svg
            github-contribution-grid-snake-dark.svg
      - run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git add github-contribution-grid-snake.svg
          git add github-contribution-grid-snake-dark.svg
          if [[ -n $(git status --porcelain) ]]; then
            git commit -m "update snake"
            git pull --rebase --autostash
            git push
          else
            echo "nothing new"
          fi
  wakapi-grafana:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - id: download
        uses: robinraju/release-downloader@v1.12
        with:
          repository: grafana/grafana-image-renderer
          latest: true
          fileName: grafana-image-renderer-linux-amd64
      - id: chrome
        uses: browser-actions/setup-chrome@v2
      - uses: mfinelli/setup-imagemagick@v7
      - run: |
          chmod +x ${{ fromJson(steps.download.outputs.downloaded_files)[0] }}
          ${{ fromJson(steps.download.outputs.downloaded_files)[0] }} server --api.default-encoding png --browser.path ${{ steps.chrome.outputs.chrome-path }} &
          sleep 10
          curl -H 'X-Auth-Token: -' -L http://localhost:8081/render?url=https://grafana.lara.lv/d/BRqbRfVGz -o wakapi-grafana-raw.png
          magick wakapi-grafana-raw.png -gravity North -chop 0x130 wakapi-grafana.png
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git add wakapi-grafana.png
          if [[ -n $(git status --porcelain) ]]; then
            git commit -m "update screenshot"
            git pull --rebase --autostash
            git push
          else
            echo "nothing new"
          fi
  stats:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: cicirello/user-statistician@v1
      with:
        image-file: stats.svg
        include-title: false
        language-repository-exclusions: lgbt-flag
        show-border: false
        hide-keys: followers, following
        commit-message: update stats
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
  stats-dark:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: cicirello/user-statistician@v1
      with:
        image-file: stats-dark.svg
        include-title: false
        language-repository-exclusions: lgbt-flag
        colors: dark
        show-border: false
        hide-keys: followers, following
        commit-message: update stats
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          config_timezone: Europe/Istanbul
          repositories_skipped: lgbt-flag
          base:
          repositories_affiliations: owner, collaborator, organization_member
          commits_authoring: lara, lara kayaalp, laralove, laralove143, lara-rium, me@lara.lv, laralove143@icloud.com, laralovesyou143@gmail.com
          plugin_calendar: yes
          plugin_calendar_limit: 5
          plugin_notable: yes
          plugin_notable_from: all
          plugin_notable_indepth: yes
          plugin_notable_types: commit, pull_request, issue
          plugin_code: yes
          plugin_code_days: 30
          plugin_lines: yes
          plugin_lines_sections: base
          plugin_sponsors: yes
          plugin_sponsors_past: yes
          plugin_sponsors_title: Would you like to sponsor my work?
          plugin_sponsors_sections: list
          plugin_traffic: yes
