name: generate snake

on:
  schedule:
    - cron: "0 0 * * *" 
  workflow_dispatch:
  push:

jobs:
  generate:
    permissions: 
      contents: write
    runs-on: ubuntu-latest
    
    steps:
      - name: generate svg
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/github-contribution-grid-snake.svg?color_snake=618264&color_dots=79ac78
            dist/github-contribution-grid-snake-dark.svg?color_snake=d0e7d2&color_dots=b0d9b1

      - name: push svg
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
